
node_modules/

videos.json

data/videos/*.mp4
data/strips/*.raw
data/segments/*.json
data/slides/png/*/*.png
data/slides/jpg/*/*.jpg
web/slides/*/*.jpg
web/slides/*.pdf
web/slides/*.zip
web/thumbs/*.jpg
web/*.html

*.sh
.DS_Store
