
body {
	background: #222;
	color: #ddd;
	font-family: sans-serif;
	margin: 30px 0;
}

h1 {
	font-weight: normal;
	font-size: 30px;
	margin: 20px 0;
}

a {
	color: #ddd;
}

#content {
	width: 80%;
	margin: 0 auto 50px auto;
}

#timetable {
	position: relative;
}
	.day {
		position: absolute;
		text-align: center;
	}

	.session {
		position: absolute;
		background: #444;
		border: 1px solid #666;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		font-family: sans-serif;
		font-size: 12px;
		padding: 3px;
		overflow: hidden;
		color: #000;
	}
		.session.active {
			background: #4A4;
			border: 1px solid #6f6;
			color: #000
		}

.description {
	font-size: 14px;
	color: #aaa;
}

.download {
	font-size: 12px;
	text-align: center;
	float: right;
	margin-bottom: 0px;
	width: 130px;
	margin: 0 0 20px 0;
}
	.download table {
		width: 100%;
	}
	.download td {
		width: 33%;
		text-align: center;
	}
	.download a {
		display: inline-block;
		width: 36px;
		height: 43px;
		background-size: contain;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
		.download .zip {
			background-image: url(zip.png)
		}
		.download .pdf {
			background-image: url(pdf.png)
		}
		.download .json {
			background-image: url(json.png)
		}

#slide-wrapper {
	margin-bottom: 20px;
}	
	.slide {
		display: inline-block;
		width: 128px;
		height: 96px;
		margin: 10px 0 0 10px;
		font-size: 12px;
		color: rgba(136,136,136,0);
		text-align: center;
		text-decoration: none;
		        transition: color 0.1s;
		     -o-transition: color 0.1s;
		   -moz-transition: color 0.1s;
		-webkit-transition: color 0.1s;
	}
	.slide:hover {
		color: rgba(136,136,136,255);
	}
		.slide div {
			background-size: 800% auto;
			background-repeat: no-repeat;
			width: 128px;
			height: 72px;
			margin-bottom: 3px;
		}





