<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Slides for "{{title}}"</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.5">
	<link rel="stylesheet" type="text/css" href="style/main.css">
	<style type="text/css">
		.slide {
			background-image: url({{{thumb_url}}});
		}
	</style>
</head>
<body>
	<div id="content">
		<p><a href=".">&lt;- Back to the timetable</a></p>
		<h1>{{title}}</h1>
		{{#noslides}}
			<p>Wow, this talk seems to have no slides at all!</p>
		{{/noslides}}
		{{^noslides}}
			<div class="download">Download Slides
				<table>
					<tr>
						<td><a class="pdf"  href="slides/{{id}}.pdf">PDF</a></td>
						<td><a class="zip"  href="slides/{{id}}.zip">ZIP</a></td>
						<td><a class="json" href="slides/{{id}}.json">JSON</a></td>
					</tr>
				</table>
			</div>
			<div style="clear:both">
			<div id="slide-wrapper">
			{{#slides}}
				<a href="{{{jpeg}}}"><div class="slide" style="background-position:-{{offset_x}}px -{{offset_y}}px"></div></a>
			{{/slides}}
				<div style="clear:both"></div>
			</div>
		{{/noslides}}
	</div>
</body>
</html>