<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Slides for "{{title}}"</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/main.css">
	<style type="text/css">
		.slide {
			background-image: url({{{thumb_url}}});
		}
	</style>
</head>
<body>
	<div id="content">
		<h1>{{title}}</h1>
		<div id="slide-wrapper">
		{{#slides}}
			<a href="{{{jpeg}}}"><div class="slide" style="background-position:-{{offset_x}}px -{{offset_y}}px"></div></a>
		{{/slides}}
			<div style="clear:both"></div>
		</div>
	</div>
</body>
</html>